[flake8]
# Исключаем директории, которые не нужно проверять
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    env,
    build,
    dist

# Устанавливаем более современную максимальную длину строки
# Стандарт 79 символов очень строгий, black использует 88. 99 - хороший компромисс.
max-line-length = 99

# Можно также игнорировать определенные ошибки, если нужно.
# Например, если вы не хотите проверять длину строк вообще (не рекомендуется):
# ignore = E501